<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
Download candidates data by clicking this button
<form action="/csv-generator/candidates" method="get">
    <input type="submit" value="Click"
           name="Submit" id="frm1_submit" />
</form>

Beautifully designed by Paweł Krzyżak
</body>
</html>